{% extends "base.twig" %}

{% block content %}

    <div id="above-fold" class="row">
      <div class="col md-9 push-3">
        <div class="centerpiece">
            {% if title %}<h4 class="section-name hidden-md-up"><a href="">{{title}}</a></h4>{% endif %}
            <!-- .lead-story -->
            {% for post in posts|slice(0, 1) %}
                {% include 'tease-sectionleadstory.twig' %} 
            {% endfor %}
            <!-- .lead-story -->
            <!-- .second-lead-story -->
            {% for post in posts|slice(1, 1) %}
                {% include 'tease-sectionsecondstory.twig' %}
            {% endfor %}
            <!-- .second-lead-story -->
            <ul class="secondary-stories">
                {% for key, post in secondary %}
                    {% include 'tease-sectionsecondarystory.twig' %}                    
                {% endfor %}
            </ul> <!-- .secondary-stories -->
        </div>

        <div id="most-recent-stories" class="story-feed lg">
            <h4 class="topic-header">Most Recent</h4>
                <ul>
                    {% for post in posts|slice(2, 7) %}
                        {% include 'tease-sectionmostrecentstory.twig' %}
                    {% endfor %}
                </ul>
        </div> <!-- #most-recent-stories -->
    </div>
    <div class="left-rail col md-3 pull-9">
        {% include 'inothernews.twig' %}
        {% include 'columnists.twig' %}
    </div>
    </div> <!-- #above-fold -->

{% endblock %}
