<div id="dfmHeader"><!--Header Goes Here--></div>

<script type="text/javascript" src="http://local.{{domain}}.com/common/dfm/dfm-nav/dfm-nav-core.js"></script>
<script> dfmNav.initParams("mode|article", "leaderboard|true", "thirdParty|true", "site|{{domain}}", "pageTitle|"); </script>
