<div id="dfmHeader"><!--Header Goes Here--></div>

<script type="text/javascript" src="http://local.denverpost.com/common/dfm/dfm-core.js"></script>
<script src="http://local.medianewsgroup.com/common/dfm/header.js"></script>
<script type="text/javascript" src="http://local.{{domain}}.com/common/dfm/dfm-nav/dfm-nav-core.js"></script>
<script type="text/javascript" src="http://extras.mnginteractive.com/live/js/otherinc/otherinc.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://extras.denverpost.com/media/js/blogstheme/jquery-ui-personalized-1.5.2.packed.js"></script>
<script type="text/javascript" src="//www.googletagservices.com/tag/js/gpt.js"></script>

<script> dfmNav.initParams("mode|article", "leaderboard|true", "thirdParty|true", "site|{{domain}}", "pageTitle|"); </script>
