<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="http://webservices.medianewsgroup.com/eventful/jQuery.XDomainRequest.js"></script>
<script src="http://webservices.medianewsgroup.com/eventful/eventfulLoad.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<div id="eventfulsaxo"></div>