<ul class="share-widget" id="footerShare" style="width:160px; margin:10px auto;"></ul>
<div id="dfmFooter"></div>
<!-- Actual footer element is in the nav freeform and will be moved here once filled with html -->

<!--
<script type="text/javascript" src="http://local.{{domain}}.com/assets/header-footer.json"></script>
<script src="http://local.medianewsgroup.com/common/dfm/footer.js"></script>
-->

<!-- jBar -->
<!-- Uncomment these when you're willing to let them grace you with their presence.
<script src="http://extras.mnginteractive.com/live/js/jquery/jBar/plugIns.js" type="text/javascript"></script>
<script src="http://extras.mnginteractive.com/live/js/jquery/jBar/jBar_btown.js" type="text/javascript"></script>
-->

<script type="text/javascript" src="http://local.{{domain}}.com/common/dfm/dfm-nav/dfm-nav-core.js"></script>
<script> dfmNav.initParams("mode|article", "leaderboard|true", "thirdParty|true", "site|{{domain}}", "pageTitle|"); </script>
Copyright {{"now"|date('Y')}}
