<div class="story-feed sm">
    <h4>In Other News</h4>
    <ul>
         {% for key, post in othernews %}
                {% include 'tease-inothernews.twig' %} 
         {% endfor %}
    </ul>
</div>
