{% extends "base.twig" %}

{% block content %}
<div id="above-fold" class="row">
{%include "sportsdirect.twig"%}
<P></P>


<P></P>

           {{post.content}}                           
    </div> <!-- #above-fold -->

{% endblock %}
