{% if false %}
<!-- Remove these comments before pushing to prod -->
<!-- Wrote as javascript in anticipation of portability needs and to demonstrate an MVC approach for JS widgets -->
<!-- Would be fairly trivial to do this with PHP, just need to port over feed url generating JS code -->
<!-- We don't have a clean and non-wasteful way of putting the images that comprise the widget onto WP Bartertown -->
<!-- But in theory, you could create WP attachments and crop them. For now, we leverage SmugMug alone to obtain various sizes -->
<div id="media-center-container"></div>
<script type="text/javascript">
var mc_rotator_options_responsive = {
    //'dataSource' : 'http://mediacenter/mercurynews/rotator?size=responsive&callback=__callback',
	//'templateSource' : '{{template_uri}}/js/media-center-template.js',
	//'container' : '#media-center-container'
};
</script>
<script type="text/javascript" src="{{template_uri}}/js/handlebars.min.1.3.0.js"></script>
<script type="text/javascript" src="{{template_uri}}/js/media-center.js"></script>
{% endif %}






