<link rel="stylesheet" href="http://extras.mnginteractive.com/live/partners/MediaCenter/widget_large/mc_widget_large_min.css" type="text/css" />
<script type="text/javascript" src="http://extras.mnginteractive.com/live/partners/MediaCenter/widget_large/mc_widget_large_min.js"></script>

{% if false %}
<div class="media-center sm" style="display: none;">
    <h4><a href="">Media Center: Photos &amp; Videos</a></h4>
    <div id="media-center-promo" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#media-center-promo" data-slide-to="0" class="active"></li>
            <li data-target="#media-center-promo" data-slide-to="1"></li>
            <li data-target="#media-center-promo" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active" data-title="" data-caption="">
            <span data-picture data-alt="">
                <span data-src=""></span>
                <span data-src="" data-media="(min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 321px)"></span>
                <span data-src="" data-media="(min-width: 321px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 481px)"></span>
                <span data-src="" data-media="(min-width: 481px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 641px)"></span>
                <span data-src="" data-media="(min-width: 641px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 769px)"></span>
                <span data-src="" data-media="(min-width: 769px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 960px)"></span>
                <span data-src="" data-media="(min-width: 960px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 1029px)"></span>
                <span data-src="" data-media="(min-width: 1029px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 1241px)"></span>
                <span data-src="" data-media="(min-width: 1241px) and (min-device-pixel-ratio: 2.0)"></span>
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src="http://placehold.it/320x24" alt="Image description goes here">
                </noscript>
            </span>
        </div>
           <div class="item" data-title="" data-caption="">
            <span data-picture data-alt="">
                <span data-src=""></span>
                <span data-src="" data-media="(min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 321px)"></span>
                <span data-src="" data-media="(min-width: 321px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 481px)"></span>
                <span data-src="" data-media="(min-width: 481px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 641px)"></span>
                <span data-src="" data-media="(min-width: 641px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 769px)"></span>
                <span data-src="" data-media="(min-width: 769px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 960px)"></span>
                <span data-src="" data-media="(min-width: 960px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 1029px)"></span>
                <span data-src="" data-media="(min-width: 1029px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 1241px)"></span>
                <span data-src="" data-media="(min-width: 1241px) and (min-device-pixel-ratio: 2.0)"></span>
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src="http://placehold.it/320x24" alt="Image description goes here">
                </noscript>
            </span>
        </div>
           <div class="item" data-title="" data-caption="">
            <span data-picture data-alt="">
                <span data-src=""></span>
                <span data-src="" data-media="(min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 321px)"></span>
                <span data-src="" data-media="(min-width: 321px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 481px)"></span>
                <span data-src="" data-media="(min-width: 481px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 641px)"></span>
                <span data-src="" data-media="(min-width: 641px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 769px)"></span>
                <span data-src="" data-media="(min-width: 769px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 960px)"></span>
                <span data-src="" data-media="(min-width: 960px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 1029px)"></span>
                <span data-src="" data-media="(min-width: 1029px) and (min-device-pixel-ratio: 2.0)"></span>
                <span data-src="" data-media="(min-width: 1241px)"></span>
                <span data-src="" data-media="(min-width: 1241px) and (min-device-pixel-ratio: 2.0)"></span>
                <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                <noscript>
                    <img src="http://placehold.it/320x24" alt="Image description goes here">
                </noscript>
            </span>
        </div>
    </div>
    <a class="left carousel-control" href="#media-center-promo" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#media-center-promo" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>
    <div id="media-center-info" class="media-center-caption">
        <h2></h2>
        <p class="excerpt"></p>
    </div>
    <h4 class="visible-md-up"><a href=""></a></h4>
    <ul class="secondary-stories visible-md-up">
        <li class="col-lg-4">
            <a href=""><img src="http://placehold.it/400x225" alt="" /></a>
            <h3><a href=""></a></h3>
        </li>
        <li class="col-lg-4">
            <a href=""><img src="http://placehold.it/400x225" alt="" /></a>
            <h3><a href=""></a></h3>
        </li>
        <li class="col-lg-4">
            <a href=""><img src="http://placehold.it/400x225" alt="" /></a>
            <h3><a href=""></a></h3>
        </li>
    </ul> <!-- .secondary-stories -->
</div>


<script type="text/javascript">
// Created as javascript in anticipation of portability needs
// Hopefully we can ensure that Bootstrap Carousel exists wherever we place this
// once fully widgetized
// Carousel currently in http://sandbox.digitalfirstmedia.com/btown/js/bartertown.min.js
// Will activte once new feeds are on prod
// Trying a different approach where the JS just adds data to HTML skeleton
// See blogs rotator for more of a HTML in JS approach
// We can still go back to the old way of putting all the html into the JS, but I'd like to avoid that
// Maybe we can make use of something like Handlebars for the html
var mc_rotator_options_responsive = {
	'src' : 'http://mediacenter/mercurynews/rotator?size=responsive&callback=__callback'
};
(function($, jsonpCallback, domain, options){
	if (typeof $ === 'undefined') {
		console.log("You need jQuery.");
		return false;
	}
	if (typeof $.fn.carousel !== 'function') {
		console.log("You need jQuery.fn.carousel. See http://sandbox.digitalfirstmedia.com/btown/");
		return false;
	}
	if (!domain) {
		return false;
	}

	window[jsonpCallback] = function(json){
		createWidget(json);
	}
	
	var script = document.createElement('script');
	script.type = 'text/javascript';
	if (options.src) {
		script.src = options.src;
	}
	else {
		script.src = createURL() + 'rotator/?size=responsive&cat=' + section() + '&callback=' + jsonpCallback;
	}
	document.getElementsByTagName('head')[0].appendChild(script);
	
	function createWidget(data){
		// All of the responsive image sizes
		var sizes = [
			[320, 240],
			[640, 480],
			[480, 320],
			[960, 640],
			[640, 480],
			[1280, 960],
			[800, 600],
			[1600, 1200],
			[640, 480],
			[1280, 960],
			[480, 320],
			[960, 640],
			[640, 480],
			[1280, 960],
			[800, 600],
			[1600, 1200]
		];
		var mc = $(options.mcJQEl || 'div.media-center.sm');
		// Set link back to media center
		mc.find('h4 a').attr('href', createURL());

		for (var i = 0; i < 3; i++) {
			setMainSlide(i);
		}
		for (var i = 3; i < 6; i++) {
			setOtherItems(i);
		}	
			
		function replaceWidthHeight(URL, width, height){
			// Takes a SmugMug large image URL and returns a new size
			if (!URL) {
				return false;
			}
			return URL.replace(
				/\/L\//,'/' + width + 'x' + height + '/').replace(
				/\-L\./, '-' + width + 'x' + height + '.'
			);
		}
		
		
		function setMainSlide(index){
			// jQuery chain to set all slide attributes
			// Still testing performance
			var count = 0;
			mc.find('div.carousel-inner div.item:eq(' + index + ')')
				.attr('data-title', data.items[index].title)
				.attr('data-caption', data.items[index].excerpt)
			.find('span span')
				.each(
					function(){
						$(this).attr(
							'data-src', 
							replaceWidthHeight(data.items[index].image, sizes[count][0], sizes[count][1])
						);
						++count;
					}
				);
		}
		function setOtherItems(index){
			// jQuery chain to set attributes/text of bottom three items
			mc.find('ul.secondary-stories li:eq(' + (index - 3) + ')')
			.find('a')
				.attr('href', data.items[index].url)
			.find('img')
				.attr('src', replaceWidthHeight(data.items[index].image, 400, 255))
			.find('h3 a').text(data.items[index].title);

		}
		
		function setCaption(jQ){
			item = jQ.find('.active'),
	        title = item[0].dataset.title,
	        caption = item[0].dataset.caption;
	        $('#media-center-info h2').text(title);
	        $('#media-center-info .excerpt').text(caption);
		}
		

		// Init carousel and bind caption changes
		$('div#media-center-promo.carousel').carousel();
		setCaption($('div#media-center-promo'));	
		
		$('div#media-center-promo').on('slid.bs.carousel', function () {
			setCaption($(this));
         });
	}
	
	function section() {
		if (typeof options.category !== 'undefined') {
			return 'rotator?cat=' + options.category;
		}
		var url = location.pathname,
			patt = /news|sports|entertainment|life|living|style/i,
			theMatch = (url.match(patt) || [])[0];
		
		if (theMatch === 'news'){
			theMatch = 'news';
		}
		else if (theMatch === 'sports'){
			theMatch = 'sports';
		}
		else if (theMatch === 'entertainment'){
			theMatch = 'entertainment';
		}
		else if (theMatch === 'life' || theMatch === 'living' || theMatch === 'style'){
			theMatch = 'lifestyles';
		}
		else {
			theMatch = 'mc_rotator_home___';
		}
		return theMatch;
	}
	
	function createURL() {
		if (options.url) {
			return options.url;
		}
		var url = 'http://photos.' + domain + '.com/';
		switch(domain) {
			//Some URLs that don't fall into the photos.domain.com structure
			case 'delcotimes':
				url = 'http://media.delcotimes.com/';
				break;
			case 'dailycamera':
				url = 'http://mediacenter.dailycamera.com/';
				break;
			case 'chicoer':
				url = 'http://media.chicoer.com/';
				break;
			case 'eptrail':
				url = 'http://mediacenter.eptrail.com/';
				break;
			case 'reporterherald':
				url = 'http://media.reporterherald.com/';
				break;
			case 'coloradodaily':
				url = 'http://mediacenter.coloradodaily.com/';
				break;
			case 'theoaklandpress':
				url = 'http://media.theoaklandpress.com/';
				break;
			case 'macombdaily':
				url = 'http://media.macombdaily.com/';
				break;
			case 'themorningsun':
				url = 'http://media.themorningsun.com/';
				break;
			case 'dailytribune':
				url = 'http://media.dailytribune.com/';
				break;
			case 'heritage':
				url = 'http://media.heritage.com/';
				break;
			case 'thenewsherald':
				url = 'http://media.thenewsherald.com/';
				break;
			case 'pressandguide':
				url = 'http://media.pressandguide.com/';
				break;
			case 'voicenews':
				url = 'http://media.voicenews.com/';
				break;
			case 'sourcenewspapers':
				url = 'http://media.sourcenewspapers.com/';
				break;
			case 'morningstarpublishing':
				url = 'http://media.morningstarpublishing.com/';
				break;
			case 'dailylocal':
				url = 'http://media.dailylocal.com/';
				break;
			case 'pottsmerc':
				url = 'http://media.pottsmerc.com/';
				break;
			case 'timesherald':
				url = 'http://media.timesherald.com/';
				break;
			case 'thereporteronline':
				url = 'http://media.thereporteronline.com/';
				break;
			case 'mainlinemedianews':
				url = 'http://media.mainlinemedianews.com/';
				break;
			case 'montgomerynews':
				url = 'http://media.montgomerynews.com/';
				break;
			case 'phoenixvillenews':
				url = 'http://media.phoenixvillenews.com/';
				break;
			case 'buckslocalnews':
				url = 'http://media.buckslocalnews.com/';
				break;
			case 'delconewsnetwork':
				url = 'http://media.delconewsnetwork.com/';
				break;
			case 'berksmontnews':
				url = 'http://media.berksmontnews.com/';
				break;
			case 'southernchestercountyweeklies':
				url = 'http://media.southernchestercountyweeklies.com/';
				break;
			case 'ydr':
				url = 'http://mediacenter.ydr.com/';
				break;
			case 'news-herald':
				url = 'http://media.news-herald.com/';
				break;
			case 'morningjournal':
				url = 'http://media.morningjournal.com/';
				break;
			case 'dailyfreeman':
				url = 'http://media.dailyfreeman.com/';
				break;
			case 'saratogian':
				url = 'http://media.saratogian.com/';
				break;
			case 'troyrecord':
				url = 'http://media.troyrecord.com/';
				break;
			case 'oneidadispatch':
				url = 'http://media.oneidadispatch.com/';
				break;
			case 'cnweekly':
				url = 'http://media.cnweekly.com/';
				break;
			case 'romeobserver':
				url = 'http://media.romeobserver.com/';
				break;
			case 'trentonian':
				url = 'http://media.trentonian.com/';
				break;
			case 'southjerseylocalnews':
				url = 'http://media.southjerseylocalnews.com/';
				break;
			case 'middletownpress':
				url = 'http://media.middletownpress.com/';
				break;
			case 'registercitizen':
				url = 'http://media.registercitizen.com/';
				break;
			case 'countytimes':
				url = 'http://media.countytimes.com/';
				break;
			case 'westhartfordnews':
				url = 'http://media.westhartfordnews.com/';
				break;
			case 'housatonictimes':
				url = 'http://media.housatonictimes.com/';
				break;
			case 'minutemannewscenter':
				url = 'http://media.minutemannewscenter.com/';
				break;
			case 'ctpostchronicle':
				url = 'http://media.ctpostchronicle.com/';
				break;
			case 'shorelinetimes':
				url = 'http://media.shorelinetimes.com/';
				break;
			case 'ctbulletin':
				url = 'http://media.ctbulletin.com/';
				break;
			case 'dolphin-news':
				url = 'http://media.dolphin-news.com/';
				break;
			case 'nhregister':
				url = 'http://photos.newhavenregister.com/';
				break;
			case 'burlesonstar':
				url = 'http://photos.burlesonstar.net/';
				break;
			case 'crowleystar':
				url = 'http://photos.crowleystar.net/';
				break;
			case 'joshuastar':
				url = 'http://photos.joshuastar.net/';
				break;
			case 'keenestar':
				url = 'http://photos.keenestar.net/';
				break;
			case 'alvaradostar':
				url = 'http://photos.alvaradostar.net/';
				break;
			case 'insidebayarea':
				url = 'http://photos.mercurynews.com/';
				break;
			case 'contracostatimes':
				url = 'http://photos.mercurynews.com/';
				break;
			case 'broomfieldenterprise':
				url = 'http://mediacenter.broomfieldenterprise.com/';
				break;
		}
		return url;
	}

})(
	dfm.$, 
	'__callback', 
	dfm.env.domain || (location.host.match(/([^.]+)\.\w{2,3}(?:\.\w{2})?$/) || [])[1],
	mc_rotator_options_responsive || {}
);
</script>
{% endif %}

