<div class="poll">
    <h4>Two Cents</h4>
    <h3>{{ poll_title }}</h3>
    <form action="">
        <div class="radio pollAnswers">
                {{ poll_options }}
        </div>
        <button class="btn primary block" value="Vote" onclick="{{ poll_vote }}">Vote!</button>
    </form>
</div> <!-- .poll -->
