<div class="poll">
    <h4>Two Cents</h4>
    <h3>What should be the punishment for someone who starts a forest fire?</h3>
    <form action="">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <button class="btn primary block">Vote!</button>
    </form>
</div> <!-- .poll -->