<div class="popular-widget">
  <h4 class="topic-header">Most Popular</h4>
  <!-- Nav tabs -->
  <ul class="nav pills justifed" id="pop-tabs">
    <li class="active"><a href="#pop-day" data-toggle="tab">Day</a></li>
    <li><a href="#pop-hour" data-toggle="tab">Hour</a></li>
    <li><a href="#pop-news" data-toggle="tab">News</a></li>
    <li><a href="#pop-sports" data-toggle="tab">Sports</a></li>
    <li><a href="#pop-biz" data-toggle="tab">Biz</a></li>
    <li><a href="#pop-ae" data-toggle="tab">A&amp;E</a></li>
    <!-- <li><a href="#pop-email" data-toggle="tab">Email</a></li> -->
    <li><a href="#pop-life" data-toggle="tab">Life</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane link-list active" id="pop-day">
         <ul>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li ><a href="/popular#pop-business" class="more">See full most-popular-of-the-day list</a></li>
        </ul>
    </div>
    <div class="tab-pane link-list" id="pop-hour">
          <ul>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li ><a href="/popular#pop-business" class="more">See full most-popular-of-the-hour list</a></li>
        </ul>
    </div>
    <div class="tab-pane link-list" id="pop-news">
         <ul>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li ><a href="/popular#pop-business" class="more">More most-popular news stories</a></li>
        </ul>
    </div>
    <div class="tab-pane link-list" id="pop-sports">
         <ul>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="/popular#pop-business" class="more">More most-popular sports stories</a></li>
        </ul>
    </div>
    <div class="tab-pane link-list" id="pop-biz">
         <ul>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li ><a href="/popular#pop-business" class="more">More most-popular business stories</a></li>
        </ul>
    </div>
    <div class="tab-pane link-list" id="pop-ae">
         <ul>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li ><a href="/popular#pop-business" class="more">More most-popular A&amp;E stories</a></li>
        </ul>
    </div>
    <div class="tab-pane link-list" id="pop-email">
         <ul>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li ><a href="/popular#pop-business" class="more">More most-popular emailed stories</a></li>
        </ul>
    </div>
    <div class="tab-pane link-list" id="pop-life">
         <ul>
            <li><a href="http://www.denverpost.com/business/ci_24077373/computer-upgrades-cut-us-jobless-claims-292k?source=most_viewed">Computer upgrades cut US jobless claims to 292K</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24035564/colorado-jobs-being-created-at-faster-rate-than?source=most_viewed">Colorado jobs being created at faster rate than in U.S.</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24078994/big-suvs-rumble-along-gm-shows-new-models?source=most_viewed">Big SUVs rumble along as GM shows new models</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074522/foreclosures-metro-denver-plummet-august?source=most_viewed">Foreclosures in metro Denver plummet in August</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24067703/review-slick-ios-7-shines-apples-new-iphones?source=most_viewed">Review: Slick iOS 7 shines on Apple's new iPhones</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24074516/gates-rubber-plant-still-standing-but-demolition-permits?source=most_viewed">Gates Rubber plant still standing, but demolition permits are on file</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24070756/lightsquared-sets-parameters-auction-no-lead-bidder?source=most_viewed">LightSquared sets parameters for auction with no lead bidder</a></li>
            <li><a href="http://www.denverpost.com/business/ci_24036565/united-airlines-is-one-big-company-but-not?source=most_viewed">United Airlines is one big company, but not yet one happy family</a></li>
            <li><a href="/popular#pop-business" class="more">More most-popular lifestyle stories</a></li>
        </ul>
    </div>
  </div>
</div>