<ul class="secondary-stories">
    <li class="col-lg-4">
        <h4><a href="">Topic1</a></h4>
        <a href=""><img src="http://placehold.it/400x300" alt="max 400x300 photo in this space" /></a>
        <h3><a href="">Secondary topics heading will go in this space</a></h3>
    </li>
    <li class="col-lg-4">
        <h4><a href="">Topic2</a></h4>
        <a href=""><img src="http://placehold.it/400x300" alt="max 400x300 photo in this space" /></a>
        <h3><a href="">Secondary topics heading will go in this space</a></h3>
    </li>
    <li class="col-lg-4">
        <h4><a href="">Topic3</a></h4>
        <a href=""><img src="http://placehold.it/400x300" alt="max 400x300 photo in this space" /></a>
        <h3><a href="">Secondary topics heading will go in this space</a></h3>
    </li>
</ul> <!-- .secondary-stories -->