<!-- SeeClickFix -->
<div id="scf-widget-buffer" style="display:none">
    <link href='http://local.{{dfm.domain}}.com/common/dfm/assets/css/seeclickfix.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" language="javascript">
        var seeclickfix = {};
        seeclickfix.widget = 'http://seeclickfix.com/text_widgets/show/1053';
        seeclickfix.widget_version = '2.0';
    </script>
    <div id="scf-widget">
        <div style="width:295px;float:left; overflow:hidden; padding:5; margin-bottom:5px; border: 1px solid #999999;">
            <h3 style="margin:3px 4px 5px 0px; line-height:18px; text-align:center;" ><a href="/seeclickfix/">See, Click, Fix</a></h3>
            <script src="http://cdn.seeclickfix.com/javascripts/text_widgets/2.0/loader.js" type="text/javascript" language="javascript"></script>  
        </div>  
    </div>
</div>
<!-- SeeClickFix unit controller -->
<div id="SeeClickFix"></div>
