    <section id="right-rail" class="span2">
        <ul class="widgets">
            <li class="ad">
               <div id='DFM-adPos-cube1'><script type='text/javascript'>googletag.cmd.push(function(){googletag.display('DFM-adPos-cube1');});</script></div>
            </li>
            <li class="widget">
               <div id="socialMediaWire"></div>
            </li>
            <li class="widget">
               <div id="tout-right-rail"></div>
            </li>
            <li class="ad">
               <div id='DFM-adPos-cube2'><script type='text/javascript'>googletag.cmd.push(function(){googletag.display('DFM-adPos-cube2');});</script></div>
            </li>
            <li class="ad">
               <div id='DFM-adPos-cube3'><script type='text/javascript'>googletag.cmd.push(function(){googletag.display('DFM-adPos-cube3');});</script></div>
                </li>
                <li class="ad">
                <div id='DFM-adPos-bottomline'><script type='text/javascript'>googletag.cmd.push(function(){googletag.display('DFM-adPos-bottomline');});</script></div>
            </li>
            <li class="widget">
                    <div id="ownLocalWidgy"></div>
            </li>
            <li class="widget">
                <div id="SeeClickFix"></div>
            </li>
        </ul>
    </section>
