<div id="sportsDirectBox">
<iframe src="http://{{domain}}.sportsdirectinc.com/sports-scores/score-carousel.aspx?Leagues=NBA;NCAAB;WNCAAB;NHL&numVisible=5" id="scoreboard" scrolling="no" frameborder="0" width="660" height="75"></iframe>
</div>
<!-- league abbreviations: NFL;MLB;NBA;NHL;MLS;NCAAF -->