<div class="story-feed sm">
    {% if post.is_home %}
    <h4>Breaking News</h4>
    {% else %}
    <h4>In Other News</h4>
    {% endif %}
    <ul>
        <li>
            <h5><a href="">Denver</a></h5>
            <h3><a href="">Finegan decides running for mayor &#8220;not the right path at this time&#8221;</a></h3>
            <div class="meta">
                <p class="timestamp">21m ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">32</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Colorado</a></h5>
            <h3><a href="">Assessor pleads not guilty in embezzlement case</a></h3>
            <div class="meta">
                <p class="timestamp">32m ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">22</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Business</a></h5>
            <h3><a href="">Average airfare from DIA drops 33 percent over past decade</a></h3>
            <div class="meta">
                <p class="timestamp">35m ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">94</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Weather</a></h5>
            <h3><a href="">Huge storm ﬂexing muscle; 3 feet of snow predicted</a></h3>
            <div class="meta">
                <p class="timestamp">1 hr ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">12</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Nation/World</a></h5>
            <h3><a href="">Obama ticks off Germans about closing trade gap</a></h3>
            <div class="meta">
                <p class="timestamp">1 hr ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">112</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Broncos</a></h5>
            <h3><a href="">Broncos rookie running back C.J. Anderson to make NFL debut Sunday</a></h3>
            <div class="meta">
                <p class="timestamp">1 hr 30m ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">232</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Local news</a></h5>
            <h3><a href="">Denver police make arrest in theft of phone from paraplegic</a></h3>
            <div class="meta">
                <p class="timestamp">1 hr 42m ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">56</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Business</a></h5>
            <h3><a href="">Average airfare from DIA drops 33 percent over past decade</a></h3>
            <div class="meta">
                <p class="timestamp">35m ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">94</a></p>
            </div>
        </li>
        <li>
            <h5><a href="">Weather</a></h5>
            <h3><a href="">Huge storm ﬂexing muscle; 3 feet of snow predicted</a></h3>
            <div class="meta">
                <p class="timestamp">1 hr ago</p>
                <p class="comment-bug"><span class="glyphicon glyphicon-comment"></span><span class="sr-only">Comments: </span><a href="">12</a></p>
            </div>
        </li>
    </ul>
</div> <!-- .story-feed-sm -->