	<li class="col-lg-4">
		<h4><a href="">{{post.category}}</a></h4>
		<a href="{{post.link}}"><img src="http://placehold.it/400x300" alt="max 400x300 photo in this space" /></a>
		<h3><a href="">Secondary topics heading will go in this space</a></h3>
	</li>
