.DS_Store
.AppleDouble
.LSOverride

#goofy plugin has .git file in it
plugins/threewp-broadcast/plainview_sdk/.git

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

#Files in this folder
node_modules/*
#Make sure we ingore subversion .svnignore
.svnignore
