[submodule "plugins/timber"]
	path = plugins/timber
	url = git@github.com:jarednova/timber.git
[submodule "plugins/sem-author-image"]    
    path = plugins/sem-author-image
    url = git@github.com:wp-plugins/sem-author-image.git
[submodule "plugins/dfm-wp-package"]
	path = plugins/dfm-wp-package
	url = git@github.com:dfmedia/dfm-wp-package.git
