// VARS
// -----------------------------------
@fat-gray-border: 4px solid @border-color;
@border: 1px solid @border-color;
@border-blue: 1px solid @brand-primary;
@comment-bug-width: 24px;
@navbar-height-max: 40px;
@zindex-toggle: 1040;
@default-trans: all 0.2s ease-in-out;

// IMPORTS
// ----------------------------------

// Base styles
// ----------------------------------
@import "globals.less";
@import "overrides.less";
@import "main-classes.less";

// Scaffolding
// ----------------------------------
@import "header.less";
@import "page-home.less";
@import "page-article.less";
@import "page-section.less";
@import "custom/ads.less";

// UI
// ----------------------------------
@import "ui/bottom-line.less";
@import "ui/nav.less";
@import "ui/bubble-nav.less";
@import "ui/popular-widget.less";
@import "ui/news-alert.less";
@import "ui/embeds.less";
@import "ui/topbar.less";