// Header styles
// -----------------------------------
.flag {
  &:extend(.clearfix all);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: @zindex-navbar;
  min-height: @navbar-height-max;
  background: @brand-primary;
  .branding {
  width: 150px;
    margin: 0 auto;
  }
  .search-bar {
    float: right;
    width: 50px;
  }
  @media (min-width: @breakpoint-md) {
    position: relative;
    z-index: 5;
    #gradient > .vertical(@start-color:#e4eaf2; @end-color:#ffffff );
    .branding {
    min-height: none;
    max-height: none;
    margin: 0;
    &.sm {
    margin-top: 5px;
    }
    }
    .search-bar {
      position: absolute;
      bottom: 10px;
      right: (@grid-gutter-width / 2);
      width: 225px;
    }
  }
  @media (max-width: @breakpoint-sm-max) {
    .search-bar {
      .input-group {
        display: none!important;
      }
    }
  }
}


.search-toggle,
.back-toggle {
  position: absolute;
  top: 0;
  .square(@navbar-height + 4);
  .glyphicon {
    color: #fff;
    .font-size(18px);
    pointer-events: none;
  }
  &:focus {
    border: 0;
  }
  padding: 10px;
  background: rgba(255,255,255,.1);
  border: 0;
  cursor: pointer;
  margin-left: (@grid-gutter-width / -2);
  &:hover {
    background: rgba(255,255,255,.2);
  }
  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}

.search-toggle {
  right: 0;
  border-left: @border;
}
.back-toggle {
  .transition(@default-trans);
  left: -40px;
  border-right: @border;
  &.active {
    left: 15px;
    .transition(@default-trans);
    z-index: 20000;
  }
}

.home-page .flag > .container {
  @media (min-width: @breakpoint-md) {
    padding-top: @grid-gutter-width;
    padding-bottom: (@grid-gutter-width * .25);
  }
}

// Section name in the header
// ------------------------------
.page-id {
  margin: 0 25px;
  @media (min-width: @breakpoint-md) {
    margin: 0;
  }
}
.section-name {
  &:extend(.h4 all);
  margin: 0;
  @media (min-width: @breakpoint-md) { 
    .font-size(36px);
  }
  @media (max-width: @breakpoint-sm-max) {
    .font-size(18px);
    font-weight: @font-weight-base;
    line-height: @navbar-height-max;
    text-align: center;
    text-transform:capitalize;
    color: #fff;
  }
}
a.section-name {
  &:hover {
    text-decoration: none;
    color: #fff;
    @media (min-width: @breakpoint-md) {
      color: @gray;
    }
  }
}

// Hot topics
// -----------------------------
#hot-topics {
  border-bottom: 1px solid @border-color;
  width: 100%;
  .container {
    &:extend(.clearfix all);
    overflow:hidden;
    ul {
      margin: 0;
      .text-overflow();
      height: (@line-height-computed * 1.5);
      > li {
        &:first-child {
          padding-left:0;
          text-transform:uppercase;
          font-family: @font-family-treb;
          font-weight: @font-weight-heavy;
        }
        > a {
          line-height: (@line-height-computed * 1.5);
          .font-size(12px);
          font-weight: @font-weight-bold;
        }
      }
    }
  }
  @media (max-width: @breakpoint-sm-max) {
    display: none;
  }
}
