// Common styles on leaf pages
// -----------------------------

.error-page,
.serp,
.author-page {
  h1, h3 {
    font-family: @font-family-treb!important;
  }
}


// 404 page
// ------------------------

.error-page {
  hr {
    margin: (@line-height-computed * 2);
  }
  .error-message {
    &:extend(.jumbotron all);
    &:extend(.clearfix all);
    border: 1px solid @brand-danger;
    background: lighten(@brand-danger, 62%);
    text-align: center;
    @media (min-width: @breakpoint-md) {
      h1 {
        margin-top: 0;
      }
      form {
        margin-bottom: 0;
      }
    }
  }
  .col {
    margin-bottom: (@line-height-computed * 2);
  }
  @media (max-width: @breakpoint-sm-max) {
    .error-message {
      p {
        .font-size(16px);
      }
      padding: 0;
      background: transparent;
      border: 0;
    }
  }
}


// Search results page
// ------------------------
.content-well {
  > h1 {
    margin-top: 0;
  }
}

.serp {
  h1 {
    
  }
}

.results {
  line-height: 1.4;
  p {
    margin-bottom: (@line-height-computed / 4);
  }
  .headline {
    .font-size(18px);
    text-decoration: underline;
  }
  .byline,
  .meta {
    font-weight: @font-weight-bold;
    .font-size(11px);
  }
  .description {
    .font-size(13px);
  }
  .meta {
    color: @brand-success;
  }
  ul {
    li {
      margin-bottom: (@line-height-computed * 1.5);
    }
  }
}
.filters {
  .font-size(13px);
  .page-header {
    margin: 0!important;
  }
  .filter {
    margin-bottom: @line-height-computed;
  }
  .badge {
    float: right;
  }
}

// Web feeds page
// ------------------------

.web-feeds {
  h1.page-header {
    margin-top: 0;
  } 
  h3 {
    .font-size(18px);
  }
  .full-feeds,
  .faqs {
    .clearfix();
    margin: @line-height-computed 0;
    a {
      color: lighten(@link-color, 10%);
    }
  }
  .full-feeds {
    a {
      .font-size((@font-size-base - 1));
      margin-right: 0.4em;
    }
  }
  .subhed {
    font-weight: @font-weight-bold;
    margin-top: @line-height-computed;
    a {
      margin-right: 0;
    }
  }
}

// Site map page
// ------------------------

.site-map {  
  h1.page-header {
    margin: 0;
    position: relative;
    small {
      .font-size(14px);
      position: absolute;
      right: 0;
      bottom: @line-height-computed;
    }
  } 
  h3 {
    .font-size(18px);
  }
  .list {
    margin-top: (@line-height-computed / 3);
    color: @gray-light;
    text-transform: none;
    font-weight: normal;
  }
  .nav-header {
    padding: (@line-height-computed / 2) 0;
    color: @gray-dark;
    .font-size(16px);
    font-family: @font-family-treb;
    font-weight: @font-weight-bold;
    border-bottom: 1px solid @border-color;
  }
  .bottom-items {
    margin-top: @line-height-computed;
    margin-bottom: @line-height-computed;
    &:extend(.row all);
  }
}

// Author page
// ------------------------

.author-page {
  img {
    margin-bottom: (@line-height-computed / 2);
  }
  .media ul {
    border-top: @border;
    margin-top: (@line-height-computed / 2);
    padding-top: (@line-height-computed / 2);
    li {
      margin-bottom: (@line-height-computed / 4);
    }
  }
  @media (max-width: @breakpoint-sm-max) {
    .media {
      border-bottom: @fat-gray-border;
      margin-bottom: (@line-height-computed - 2);
      padding-bottom: (@line-height-computed - 2);
      .media-object {
        margin-right: 10px;
        max-width: 90px;
        float: left;
      }
      ul {
        li {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
}

// Contact page
// ------------------------