// 404
// ------------------------

.error-page {
  h1, h3 {
    font-family: @font-family-treb!important;
  }
  hr {
    margin: (@line-height-computed * 2);
  }
  .error-message {
    &:extend(.jumbotron all);
    &:extend(.clearfix all);
    border: 1px solid @brand-danger;
    background: lighten(@brand-danger, 62%);
    text-align: center;
    @media (min-width: @breakpoint-md) {
      h1 {
        margin-top: 0;
      }
      form {
        margin-bottom: 0;
      }
    }
  }
  .col {
    margin-bottom: (@line-height-computed * 2);
  }
  @media (max-width: @breakpoint-sm-max) {
    .error-message {
      p {
        .font-size(16px);
      }
      padding: 0;
      background: transparent;
      border: 0;
    }
  }
}

// Web feeds page CSS
// ------------------------

.web-feeds {
  h1.page-header {
    margin-top: 0;
  } 
  h3 {
    .font-size(18px);
  }
  .full-feeds,
  .faqs {
    .clearfix();
    margin: @line-height-computed 0;
    a {
      color: lighten(@link-color, 10%);
    }
  }
  .full-feeds {
    a {
      .font-size((@font-size-base - 1));
      margin-right: 0.4em;
    }
  }
  .subhed {
    font-weight: @font-weight-bold;
    margin-top: @line-height-computed;
    a {
      margin-right: 0;
    }
  }
}

// Site map page CSS
// ------------------------

.site-map {  
  h1.page-header {
    margin: 0;
    position: relative;
    small {
      .font-size(14px);
      position: absolute;
      right: 0;
      bottom: @line-height-computed;
    }
  } 
  h3 {
    .font-size(18px);
  }
  .list {
    margin-top: (@line-height-computed / 3);
    color: @gray-light;
    text-transform: none;
    font-weight: normal;
  }
  .nav-header {
    padding: (@line-height-computed / 2) 0;
    color: @gray-dark;
    .font-size(16px);
    font-family: @font-family-treb;
    font-weight: @font-weight-bold;
    border-bottom: 1px solid @border-color;
  }
  .bottom-items {
    margin-top: @line-height-computed;
    margin-bottom: @line-height-computed;
    &:extend(.row all);
  }
}