.bubble {
  position:static;
/*  .link-list {
    ul li a:hover { 
	.text-overflow(); 
	}
  }*/
  .dropdown-menu {
	display: block;
    .clearfix();
    //margin-left: -3000px;
    //width: 100%;
    //min-height: 270px;
    //padding: (@grid-gutter-width / 2) 3000px;
  }
  .pager {
    .clearfix();
    display:none;
    position:absolute;
    width: 160px;
    left: 0;
    bottom: 8px;
    margin: 0;
    .transition(width 0.2s linear);
    z-index: 2000;
    li a {
      border-radius: 0;
      padding: 2px 5px;
      font-size: 12px;
      font-weight: bold;
      width: 148px;
      &:hover {
        background: @brand-primary;
        color: #fff;
      }
    }
    .prev {
      float: left;
      opacity: 0;
      .transition(opacity 0.1s linear);
     }
     .next {
       float: right;
     }
  }
}

.bubble-content {
  .clearfix();
  display: block!important;
}

.bubble-subtopics,
.bubble-headlines {
  .clearfix();
  float:left;
}

.visible-pane {
  .size(160px, 300px); //may be inversed
  overflow-x: hidden;
  overflow-y: auto;
  .transition(all 0.2s linear);
}

.topic-pane {
  .transition(left 0.2s linear);
  li a {
    display: block;
    width: 100%;
    .user-select(none);
    border-top: 1px solid @border-color;
    border-bottom: 1px solid #fff;
    padding: 3px 0!important;
    &:hover {
      background: #f1f1f1;
      color: @text-color;
      border-top-color: @brand-primary;
      text-indent: 5px;
      .text-overflow();
      text-decoration:none;
    }
    &:last-child {
      border-bottom: 1px solid @border-color;
    }
  }
}

.bubble-headlines {
  width: 480px;
  padding: 0 (@grid-gutter-width / 2);
    .transition(all 0.2s linear);
  a {
    padding: 0!important;
    line-height:0;
    display: inline;
}
  img {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }
  h3 {
    margin:0 0 (@line-height-computed / 3);
  }
  p {
    .font-size(12px);
    line-height: 1.5;
  }
}
.bubble-ad {
  .size (300px, 250px);
  position: absolute;
  top: 0;
  right: 0;
}

.bubble-content.slider-mode {
  .bubble-editorial-content {
    overflow: hidden;
    .size(660px, 320px);
  }
  .bubble-overflow,
  .pane-container {
    width: 1000%;
  }
  .visible-pane {
    height: 270px;
    &.active {
       width: 660px;
      .transition(all 0.2s linear);
    }
  }
  .topic-pane {
    .clearfix();
    height: 270px;
    overflow: hidden;
    ul {
      width: 160px;
      float: left;
      margin-right: 10px;
    }
    .transition(left 0.2s linear);
  }
  .pager {
    display: block;
  }
  .pager.expanded {
    width: 660px;
    .transition(width 0.2s linear);
    .prev {
      opacity: 1;
      .transition(opacity 0.2s linear 0.2s);
    }
    .next a.inactive {
      opacity: 0;
      .transition(opacity 0.2s linear);
     }
   }
}