	{ITEM_LOOP_BEGIN}
        <div class="top_stories_img">
		<a href="{ITEM_PERMALINK}"><img src="{ITEM_ENCLOSURE_LINK}" height="127" width="190" alt="{ITEM_TITLE}" style="border:0;"></a>
                <span class="top_stories_featured"><a href="{ITEM_PERMALINK}">{ITEM_TITLE}</a></span>

        </div>
	{ITEM_LOOP_END}

