<div class="content-well">
		<h3 class="blog-name">{{searchtitle}}</h3>
	<p class="lead">{{category.0.category_description}}</p>
{% for post in posts %}
{% include 'snippet_block_refer.twig' %}
{% endfor %}
</div> <!-- .content-well -->
<div class="ad-well">
			{% include 'ad.twig' with ad %}
			{% include 'related.twig' with related %}
</div> <!-- .ad-well -->
</div> 
